<!--The content below is only a placeholder and can be replaced.-->
<div>
  <i class="fa fa-user"></i>
  <div class="ui-inputgroup">
    <input pInputText #query id="query" type="text" size="30" placeholder="Search">
    <button pButton type="button" icon="pi pi-eye" (click)="fetch(query.value)" (keyup.enter)="fetch(query.value)"></button>
  </div>
  <span *ngIf="extractIds">({{extractIds.length}} results)</span>
  <span *ngIf="currentIndex >= 0">{{extractIds[currentIndex]}} ({{currentIndex}})</span>
  <div>
    <button pButton (click)="prev()" icon="pi pi-arrow-left"></button>
    <button pButton (click)="next()" icon="pi pi-arrow-right"></button>
  </div>
  <div *ngIf="extractValue">
    <pre>{{extractValue.extract.sentences}}</pre>
    <input pRadioButton type="radio" name="parent" [(ngModel)]="relation" [value]="0"/>
    <span>No relation</span>
    <br/>
    <input pRadioButton type="radio" name="parent" [(ngModel)]="relation" [value]="1"/>
    <span>
      <i class="pi pi-user"></i>
      {{extractValue.one.name}}
      <span style="font-style: italic;">is parent of</span>
      <i class="pi pi-user"></i>
      {{extractValue.two.name}}
    </span>
    <br/>
    <input pRadioButton type="radio" name="parent" [(ngModel)]="relation" [value]="2"/>
    <span>
      <i class="pi pi-user"></i>
      {{extractValue.two.name}}
      <span style="font-style: italic;">is parent of</span>
      <i class="pi pi-user"></i>
      {{extractValue.one.name}}
    </span>
  </div>

</div>
<router-outlet></router-outlet>
