/* You can add global styles to this file, and also import other style files */
:root {
    --color-muted: #636c72;
    --color-primary: #0275d8;
    --color-success: #5cb85c;
    --color-info: #5bc0de;
    --color-warning: #f0ad4e;
    --color-danger: #d9534f;
    --tree-gap: 20px;
    --tree-dash-width: 10px;
}

* {
    font-family: sans-serif;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.active {
    color: white;
    background-color: black;
}

.ng-valid {
    border-left: 5px solid var(--color-success);
}

.ng-invalid {
    border-left: 5px solid var(--color-danger);
}
